@inherits LayoutComponentBase
@inject HttpClient Http
@inject IJSRuntime JSRuntime
<RadzenDialog />
<RadzenNotification />
<RadzenContextMenu />
<RadzenTooltip />

<RadzenLayout>
    <RadzenHeader>
        <ChildContent>
            <div class="row justify-content-start align-items-center">
                <div class="col-5 d-flex align-items-center">
                    <RadzenSidebarToggle Click="@(args => { IsSidebarExpanded = !IsSidebarExpanded; bodyExpanded = !bodyExpanded; })" />
                    <RadzenLabel Text="RSS Feed Reader" Style="font-weight:900;" />
                </div>
            </div>
        </ChildContent>
    </RadzenHeader>
    <RadzenBody @ref="@body0" @bind-Expanded="@bodyExpanded">
        <ChildContent>
            <RadzenContentContainer Name="main">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 pt-4 pb-5 px-3 px-lg-5">
                            @Body
                            <p class="mt-5 md-3 text-center">
                                <RadzenLabel Text="@footer" />
                            </p>
                        </div>
                    </div>
                </div>
            </RadzenContentContainer>
        </ChildContent>
    </RadzenBody>
    <NavMenu IsSidebarExpanded="@IsSidebarExpanded" />
</RadzenLayout>

@code {
    private RadzenBody? body0;
    private bool IsSidebarExpanded = false;
    private bool bodyExpanded = true;
    private string? footer = $"Copyright &copy; {DateTime.Now.Year} RSS Feed Reader. All Rights Reserved.";

    private async Task PanelMenuClick(MenuItemEventArgs args)
    {
        if (args.Path == "/")
        {
            await JSRuntime.InvokeVoidAsync("document.location.reload");
        }
    }
}
